@import "compass/css3";
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed);

$full-black : rgba(0, 0, 0, 1);
$phosphor-green : rgba(0, 255, 0, 1);

body {
  background : $full-black;
}

body,
body * {
  color       : $phosphor-green;
  font-family : 'Roboto Condensed', sans-serif;
}

h1 {
  font-size : 120%;
  margin    : 16px;
}

a {
  border        : solid 1px rgba(0, 0, 0, 0.1);
  margin-bottom : 2px;
  display       : inline-block;
  padding       : 1px 5px;
}

li {
  margin : 2px 12px;
}
